<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
     <a class="brand">Slackware ChangeLog</a>
     <ul class="nav">
      <li><a href="/homepage/index">Home</a></li>
      <li class="active">
	<a href="/homepage/about">About</a>
      </li>
     </ul>
    </div>
  </div>
</div>
</br>
<div class="hero-unit margins-lr">
  <p>Slackware ChangeLog is a simple Ruby on Rails app which checks the official 
Slackware ChangeLog and tweets any new changes.</p>
</div>

