<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
     <a class="brand">Slackware ChangeLog</a>
     <ul class="nav">
      <li><a href="/homepage/index">Home</a></li>
      <li>
	<a href="/homepage/about">About</a>
      </li>
     </ul>
    </div>
  </div>
</div>
</br>
<div class="hero-unit">
   <h2><%= @post.title %></h2>
   <br />
  <p><%= @post.body.html_safe %></p>
</div>

