# Edit this file with your Twitter Credentials an rename it as twitter.yml
development:
  consumer_key32: ' asghry65r'
  consumer_secret32: ''
  oauth_token32: ''
  oauth_token_secret32: ''
  consumer_key64: ''
  consumer_secret64: ''
  oauth_token64: ''
  oauth_token_secret64: ''
test:
  consumer_key32: ' asghry65r'
  consumer_secret32: ''
  oauth_token32: ''
  oauth_token_secret32: ''
  consumer_key64: ''
  consumer_secret64: ''
  oauth_token64: ''
  oauth_token_secret64: ''
production:
  consumer_key32: ' asghry65r'
  consumer_secret32: ''
  oauth_token32: ''
  oauth_token_secret32: ''
  consumer_key64: ''
  consumer_secret64: ''
  oauth_token64: ''
  oauth_token_secret64: ''